@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  p,
  h1,
  h2,
  a {
    @apply font-int
  }
}

/* * {
  border: solid 1px blueviolet;

} */
.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh; /* Yüksekliği ekran yüksekliği olarak ayarlayın */
}

.scroll-item {
  scroll-snap-align: start;
  height: 100vh; /* Her bir bölümün yüksekliğini ekran yüksekliği olarak ayarlayın */
}


