

.toggle-btn {
    border-radius: 99px;
    width: 55px;
    height: 24px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    position: relative;
    bottom: 5px;
  }
  
  .toggle-btn .thumb {
    height: 15px;
    width: 16px;
    background-color:#FFE86E;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
  }

.toggle-btn.toggled {
    background-color: #8F88FF;
}

.toggled-btn:hover {
    border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb {
    left: calc(50px - 15px);
}

.toggle-btn .thumb2 {
  height: 15px;
  width: 16px;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
}